html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
    border: none;
}

.header{
    display: flex;
    justify-content: center;
    background-color: rgb(18, 62, 116);
    flex-grow: 1;
    padding: 30px;
}

.h{
    color: aliceblue;
    align-content: center;
    font-size: 50px;
    font-weight: bold;
}

.sec2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(242, 242, 234, 0.896);
}

img{
    height: 150px;
    width: 150px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.subtext{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

button{
    border-radius: 50px;
}

.Score{
    flex-basis: 40%;
    flex-direction: column;
    background-color: rgb(196, 185, 219);
    justify-content: flex-start;
}

.Score-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 0px 50px 0px 50px;
    padding-bottom: 5   0px;
    justify-content: flex-start;
}

.Sc{
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: aliceblue;
    font-weight: 800;
}

.sbox{
    box-sizing: border-box;
    border-color: black;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1px;
}

#s{
    display: flex;
    justify-content: space-evenly;
}

.moves{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px 50px 0px 50px;
    border: 1px solid black; 
}


.moves-title{
    font-size: 28px;
    color: aliceblue;
    font-weight: 800;
}

